:root {
  --red: #f44336;
  --yellow: #ffeb3b;
  --blue: #2196f3;
}

.teams{
  flex-wrap: wrap;
  display:flex;
  border: 1px solid black;
  list-style:none;
  padding: 5px;
}

.candy{
  border-radius:100%;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size:10px;
  margin:5px;
}

.yellow{
  background-color: var(--yellow);
}

.blue{
  background-color: var(--blue);
}

.red{
  background-color: var(--red);
}
